* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    /* height: 3000px; */
}

li {
    /* 清除源点 */
    list-style: none;
}

a {
    /* 清除下划线 */
    text-decoration: none;
}

/* 清除浮动 */
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.body {
    height: 100%;
}

/*头部制作*/
.header {
    height: 222px;
    background-color: #FFF7F8;
}

.header img {
    height: 222px;
    float: left;
}

.header .head {
    color: #CC000F;
    font-family: "华文行楷";
}

.header .head .headr {
    float: right;
    font-size: 25px;
    margin-top: 100px;
    margin-right: 50px;
}

.header .head .headr .p1 {
    margin-left: 50px;
    margin-top: -30px;
}

.header .head .hea {
    font-size: 100px;
    margin-top: 60px;
    float: right;
    margin-right: 20px;
}

/*密码重置制作*/
h2 {
    font-size: 43px;
    font-family: "华文行楷";
    margin-left: 685px;
    margin-top: 30px;
    font-weight: 400;
}

.passw {
    width: 780px;
    height: 244px;
    font-size: 20px;
    border: 0.5px solid;
    margin-left: 396px;
    margin-top: 15px;
    position: relative;
}

.passw div {
    margin-top: 20px;
    margin-left: 170px;
}

.passw input {
    border: none;
    border-bottom: 0.5px solid;
}

.passw .confirm {
    width: 125px;
    margin-left: 250px;
    margin-top: 25px;
    font-size: 23px;
    background-color: white;
    border: 0.5px solid;
}

.passw .cancel {
    width: 125px;
    font-size: 23px;
    margin-left: 23px;
    background-color: white;
    border: 0.5px solid;
}

/*提示*/
.tips {
    width: 310px;
    height: 100px;
    position: absolute;
    background-color: white;
    border: 0.5px solid black;
    padding-top: 30px;
}

.tips span {
    margin-left: 30px;
}

.tips input {
    margin-left: 110px;
    margin-top: 20px;
    font-size: 23px;
    border: 0.5px solid;
    width: 130px;
}

/*底部制作*/
.foot {
    margin-top: 130.5px;
    height: 48px;
    background-color: red;
}