* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    /* height: 3000px; */
}

li {
    /* 清除源点 */
    list-style: none;
}

a {
    /* 清除下划线 */
    text-decoration: none;
}

/* 清除浮动 */
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.body {
    height: 100%;
}

/*头部制作*/
.header {
    height: 222px;
    background-color: #FFF7F8;
}

.header img {
    height: 222px;
    float: left;
}

.header .head {
    color: #CC000F;
    font-family: "华文行楷";
}

.header .head .headr {
    float: right;
    font-size: 25px;
    margin-top: 100px;
    margin-right: 50px;
}

.header .head .headr .p1 {
    margin-left: 50px;
    margin-top: -30px;
}

.header .head .hea {
    font-size: 100px;
    margin-top: 60px;
    float: right;
    margin-right: 20px;
}

/*登录制作*/
.logon {
    font-size: 22px;
    margin-top: 107.5px;
    margin-left: 600px;
}

.logon input {
    border: none;
    border-bottom: solid;
}

.logon .blogon {
    border: none;
    color: white;
    font-size: 28px;
    margin-left: 78px;
    background-color: #55beea;
    border-radius: 10px;
    width: 170px;
}

/*底部制作*/
.foot {
    margin-top: 207px;
    height: 51px;
    background-color: red;
}