* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    /* height: 3000px; */
}

li {
    /* 清除源点 */
    list-style: none;
}

a {
    /* 清除下划线 */
    text-decoration: none;
}

/* 清除浮动 */
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


.body {
    height: 100%;
}

/*头部制作*/
.header {
    height: 100px;
    background-color: #FFF7F8;
}

.header .hea {
    font-size: 80px;
    font-family: "华文行楷";
    float: left;
    color: #cc0000;
    margin-left: 60px;
    margin-top: 12px;

}

.header div {
    float: left;
    margin-top: 40px;
    margin-left: 25px;
    font-size: 28px;
    color: #cc0000;
    font-family: "华文行楷";
}

.header div .p1 {
    margin-left: 55px;
    margin-top: -35px;
}

/*bars部分制作*/
.bars {
    height: 42px;
    background-color: #CC000F;
    font-size: 15px;
    color: #fff;
}

.bars .bar div {
    float: left;
    margin-left: 105px;
    margin-top: 10px;
}

.bars .ba div {
    float: right;
    margin-right: 70px;
    margin-top: 10px;
}

.bar div:hover {
    color: skyblue;
}

.ba div:hover {
    color: skyblue;
}


/*表格上方制作*/
.formt {
    margin-top: 40px;
}

.formt .advanced_people {
    float: left;
    font-size: 42px;
    font-family: "华文行楷";
    margin-left: 55px;
    margin-top: -0.8px;
}

.formt .declare {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: solid;
    margin-left: 70px;
    line-height: 40px;
    text-align: center;
}

.formt .declare:hover {
    font-size: 15px;
    margin-top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
}

.formt input {
    width: 200px;
    height: 30px;
    float: right;
    margin-top: 15px;
}

.formt .query input {
    width: 50px;
    height: 30px;
    float: right;
    margin-right: 62px;
    margin-top: 15px;
}

/*表格设计*/
.ta {
    float: left;
    margin-left: 20px;
    position: relative;
}

.ta tr, td {
    background-color: #fff;
}

.ta input {
    float: left;
    width: 142px;
    height: 40px;
    border: none;
}

.ta .btn input {
    float: left;
    width: 50px;
    height: 40px;
    margin: 0 2px;
}

/*申报制作*/

.ta .apply {
    float: left;
    width: 750px;
    height: 449px;
    background-color: #fff;
    margin-left: 330px;
    margin-top: -492px;
    position: absolute;
    border: 0.5px solid black;
}

.ta .apply .q {
    width: 320px;
    margin-left: 220px;
    font-size: 30px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: -30px;
    background-color: white;
    font-family: "华文行楷";
}

.ta .apply span {
    font-size: 20px;
    margin-left: 90px;
    margin-top: 20px;
}

.ta .apply input {
    float: none;
    margin-top: 20px;
    height: 30px;
    width: 140px;
    border: 1px solid;
}

.ta .apply .sb {
    margin-top: 20px;
}

.ta .apply select {
    margin-top: 20px;
    height: 30px;
    width: 140px;
}

.ta .st1 span {
    margin-left: 0;
}

.ta .st2 span {
    margin-left: 0;
}

/*申报*/
/*第一个小页面的制作*/

.ta #step1 .st2 {
    width: 300px;
    display: inline-block;
}

.ta #step1 .st1 {
    margin-left: 75px;
}

.ta #step1 .st1, st2 {
    margin-top: 20px;
    width: 300px;
    display: inline-block;
}

/*第二个小页面的制作*/
.ta #step2 .cc1, .cc2 {
    float: left;
    width: 140px;
    height: 30px;
    margin-left: 30px;
    margin-top: 20px;
}

.ta #step2 .cc1 {
    margin-left: 188px;
}

.ta .step3 {
    margin-top: 30px;
    font-size: 20px;
    margin-left: 215px;
}

/*修改*/

.ta .modify {
    float: left;
    width: 750px;
    height: 449px;
    background-color: #fff;
    margin-left: 330px;
    margin-top: -492px;
    position: absolute;
    border: 0.5px solid black;
}

.ta .modify .q {
    width: 320px;
    margin-left: 220px;
    font-size: 30px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: -30px;
    background-color: white;
    font-family: "华文行楷";
}

.ta .modify span {
    font-size: 20px;
    margin-left: 90px;
    margin-top: 20px;
}

.ta .modify input {
    float: none;
    margin-top: 20px;
    height: 30px;
    width: 140px;
    border: 1px solid;
}

.ta .modify select {
    margin-top: 20px;
    height: 30px;
    width: 140px;
}

.ta .modify .st1 span {
    margin-left: 0;
}

.ta .modify .st2 span {
    margin-left: 0;
}

/*第一个小页面的制作*/
/*.ta #step5 .st1 {*/
/*    margin-top: 80px;*/
/*}*/

/*.ta #step5 .st2 {*/
/*    margin-left: 100px;*/
/*}*/

/*.ta #step5 .st1, st2 {*/
/*    margin-top: 20px;*/
/*    margin-left: 100px;*/
/*}*/

/*.ta #step5 .cc1, .cc2 {*/
/*    float: left;*/
/*    font-size: 20px;*/
/*    width: 140px;*/
/*    height: 30px;*/
/*    margin-left: 240px;*/
/*    margin-top: 50px;*/
/*}*/

/*.ta #step5 .cc2 {*/
/*    margin-left: 30px;*/
/*    margin-top: 50px;*/
/*}*/

/*!*第二个小页面的制作*!*/
/*.ta #step6 .cc1, .cc2, .cc3 {*/
/*    float: left;*/
/*    font-size: 20px;*/
/*    width: 140px;*/
/*    height: 30px;*/
/*    margin-left: 30px;*/
/*    margin-top: 20px;*/
/*}*/

/*.ta #step6 .cc1 {*/
/*    margin-left: 188px;*/
/*}*/
/*第一个小页面的制作*/

/*.ta #step1 .st2 {*/
/*    width: 300px;*/
/*    display: inline-block;*/
/*}*/

/*.ta #step1 .st1 {*/
/*    margin-left: 75px;*/
/*}*/

/*.ta #step1 .st1, st2 {*/
/*    margin-top: 20px;*/
/*    width: 300px;*/
/*    display: inline-block;*/
/*}*/

/*!*第二个小页面的制作*!*/
/*.ta #step2 .cc1, .cc2 {*/
/*    float: left;*/
/*    font-size: 20px;*/
/*    width: 140px;*/
/*    height: 30px;*/
/*    margin-left: 30px;*/
/*    margin-top: 20px;*/
/*}*/

/*.ta #step2 .cc1 {*/
/*    margin-left: 188px;*/
/*}*/

/*.ta .step3 {*/
/*    margin-top: 30px;*/
/*    font-size: 20px;*/
/*}*/
