* {
    margin: 0;
    padding: 0;
}

.w {
    width: 1200px;
    margin: auto;
}

body {
    background-color: #fff;
    /* height: 3000px; */
}

li {
    /* 清除源点 */
    list-style: none;
}

a {
    /* 清除下划线 */
    text-decoration: none;
}

/* 清除浮动 */
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.body {
    height: 760px;
}

/*头部制作*/
.header {
    height: 100px;
    background-color: #FFF7F8;
}

.header .hea {
    font-size: 60px;
    font-family: "华文行楷";
    float: left;
    color: #cc0000;
    margin-left: 20px;
    margin-top: 10px;

}

.header img {
    width: 100px;
    float: left;
    height: 100px;
    margin-left: 49px;
}

.header div {
    float: left;
    margin-top: 25px;
    margin-left: 17px;
    font-size: 20px;
    color: #cc0000;
}

.header div .p1 {
    margin-left: 40px;
    margin-top: -20px;
}

/*bars部分制作*/
.bars {
    height: 30px;
    background-color: #CC000F;
    font-size: 15px;
    color: #fff;
}

.bars .bar div {
    float: left;
    margin-left: 60px;
    margin-top: 5px;
}

.bars .ba div {
    float: right;
    margin-right: 60px;
    margin-top: 5px;
}

/*.bar div:hover {*/
/*    color: skyblue;*/
/*}*/

/*.ba div:hover {*/
/*    color: skyblue;*/
/*}*/

/*表单制作*/
.pcenter {
    margin-top: 25px;
    font-size: 50px;
    margin-left: 20px;
    font-family: "华文行楷";
}