* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    /* height: 3000px; */
}

li {
    /* 清除源点 */
    list-style: none;
}

a {
    /* 清除下划线 */
    text-decoration: none;
}

/* 清除浮动 */
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


.body {
    height: 100%;
    width: 100%;
}

/*头部制作*/
.header {
    height: 100px;
    background-color: #FFF7F8;
}

.header img {
    width: 100px;
    float: left;
    height: 100px;
    margin-left: 49px;
}

.header div {
    float: left;
    margin-top: 40px;
    margin-left: 25px;
    font-size: 28px;
    color: #cc0000;
    font-family: "华文行楷";
}

.header div .p1 {
    margin-left: 55px;
    margin-top: -35px;
}

/*bars部分制作*/
.bars {
    height: 42px;
    background-color: #CC000F;
    font-size: 15px;
    color: #fff;
}

.bars .bar div {
    float: left;
    margin-left: 105px;
    margin-top: 10px;
}

.bars .ba div {
    float: right;
    margin-right: 70px;
    margin-top: 10px;
}

.bar div:hover {
    color: skyblue;
}

.ba div:hover {
    color: skyblue;
}

.pcenter {
    margin-top: 20px;
    font-size: 40px;
    margin-left: 50px;
    font-family: "华文行楷";
}

.mainb {
    font-size: 20px;
    margin-left: 20px;
}

.mainb .iml {
    float: left;
}

.mainb .iml .pho {
    width: 70px;
    border: none;
    margin-left: 30px;
    margin-top: 10px;
}

.mainb img {
    width: 100px;
    height: 100px;
    margin-left: 30px;
    margin-top: 50px;
}

.mleft .cen {
    margin-left: 200px;
}

.mainb .mleft input {
    height: 20px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 0.5px solid;
}

.mainb .mleft span {
    margin-left: 20px;
}

.mainb .mleft .ls {
    margin-left: 60px;
}

.mainb .mleft .rs {
    margin-left: 40px;
}

.mainb .mleft select {
    width: 150px;
    height: 23px;
}

.mainb .revise {
    margin-top: 20px;
    margin-right: 45px;
    font-size: 20px;
    margin-left: 635px;
    width: 100px;
}

.mainb .reset {
    font-size: 20px;
    width: 100px;
}