<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fcis.mapper.AdvancedCollectiveDao">
<!--    保存先进集体信息-->
    <insert id="insertAdvanceCollective" parameterType="com.fcis.model.informationManagement.advancedCollective.CollectiveInfo">
        insert into advanced_collective
        (advanced_title,advanced_provance,company_name,principal_name,principal_phone,addvance_outstanding,reasonof_cancel)
        values
        (#{collectiveTitle},#{collectiveProvance},#{companyName},#{principalName},#{principalPhone},#{collectiveOutstanding},#{collectiveCancel})
    </insert>

<!--    按称号查询先进集体，返回所有集体并分页展示-->
    <sql id="advanceBaseSql">
        advanced_id,isDeleteAdvance,advanced_title,advanced_provance,company_name,principal_name,principal_phone,addvance_outstanding
    </sql>
    <select id="selectAdvanceCollective" resultType="com.fcis.model.informationManagement.advancedCollective.CollectiveInfo">
        select <include refid="advanceBaseSql"/> from advanced_collective
        where advanced_title = #{collectiveTitle}
    </select>

<!--    按基本信息条件查询先进集体-->
    <select id="selectAdvanceCondition" resultType="com.fcis.model.informationManagement.advancedCollective.CollectiveInfo">
        select <include refid="advanceBaseSql"/> from advanced_collective
        <where>
            <if test="collectiveProvance!=null">
                and advanced_provance=#{collectiveProvance}
            </if>
            <if test="companyName!=null">
                and company_name=#{companyName}
            </if>
            <if test="principalName!=null">
                and  principal_name=like concat('%',#{principalName},'%')
            </if>
            <if test="principalPhone!=null">
                and  principal_phone=#{principalPhone}
            </if>
        </where>
    </select>
<!--    删除先进集体-->
    <update id="deleteAdvance" parameterType="Integer">
        update advanced_collective set isDeleteAdvance=1 where advanced_id=#{id}
    </update>
    <select id="deleteSuccess" parameterType="Integer" resultType="Integer">
        select isDeleteAdvance from advanced_collective where advanced_id=#{id}
    </select>
<!--    查询先进集体的详细信息-->
    <resultMap id="detailsResultMap" type="com.fcis.model.informationManagement.advancedCollective.CollectiveInfo">
        <id column="advanced_id" property="id"/>
        <result column="advanced_title" property="collectiveTitle"/>
        <result column="advanced_provance" property="collectiveProvance"/>
        <result column="company_name" property="companyName"/>
        <result column="principal_name" property="principalName"/>
        <result column="principal_phone" property="principalPhone"/>
        <result column="addvance_outstanding" property="collectiveOutstanding"/>
        <result column="reasonof_cancel" property="collectiveCancel"/>
        <result column="isDeleteAdvance" property="isDeleteAdvance"/>
    </resultMap>
    <select id="selectCollectiveDetails" resultMap="detailsResultMap">
        select * from advanced_collective where advanced_id=#{id}
    </select>
<!--    先进集体统计-->
    <select id="statisticsNationalAdvance" resultType="Integer">
        select advanced_id from advanced_collective where advanced_title like '全国先进%'
    </select>
    <select id="statisticsProvenceAdvance" resultType="Integer">
        select advanced_id from advanced_collective where advanced_title like '省先进%'
    </select>
    <select id="statisticsNationalAdvance51" resultType="Integer">
        select advanced_id from advanced_collective where advanced_title like '全国五一%'
    </select>
    <select id="statisticsProvenceAdvance51" resultType="Integer">
        select advanced_id from advanced_collective where advanced_title like '四川省五一%'
    </select>
    <select id="statisticsNationalWorkers" resultType="Integer">
        select advanced_id from advanced_collective where advanced_title like '全国工人%'
    </select>
    <select id="statisticsProvenceWorkers" resultType="Integer">
        select advanced_id from advanced_collective where advanced_title like '四川省工人%'
    </select>
    <select id="statisticsCityWorkers" resultType="Integer">
        select advanced_id from advanced_collective where advanced_title like '市工人%'
    </select>
    <select id="statisticsCompanyWorkers" resultType="Integer">
        select advanced_id from advanced_collective where advanced_title like '企业工人%'
    </select>
</mapper>