<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fcis.mapper.ModelWorkerDao">

<!--    保存/修改 劳模-->
    <insert id="insertTitleAndTreatment">
		insert into model_worker
		(modelworker_title,modelworker_treatment)
		values
		(#{title},#{treatment})
	</insert>
	<insert id="insertInfo" parameterType="com.fcis.model.informationManagement.outstandingPersonDeclare.Info">
		insert into info
		(info_name,sex,nationality,born,education,political_state,info_provence,organization,job_title
		,get_modelworker_tltle_time,info_awadingunit,identity_number,phone)
		values
		(#{info.modelName},#{info.sex},#{info.nationality},#{info.born},#{info.education},#{info.politicalState},#{info.provence},#{info.organization},#{info.jobTitle}
		,#{info.getModelWorkerTitleTime},#{info.awardingUnit},#{info.ID},#{info.phone})
	</insert>
	<insert id="insertAddInfo" parameterType="com.fcis.model.informationManagement.outstandingPersonDeclare.AddInfo">
		insert into addinfo
		(stateof_health,stateof_family,stateof_job,outstanding_dees,ismodelworker_title)
		values
		(#{stateofHealth},#{stateofFamily},#{stateofJob},#{outstandingDeeds},#{modelWorkerTitle})
	</insert>

	<insert id="insertCertifed" parameterType="com.fcis.model.informationManagement.outstandingPersonDeclare.CertifiedMaterials">
		insert into certified_materials
		 (awarding_unit,awarding_time,recognition_name,symbol,recoginition_unit,recognition_time)
		values
		 (#{awardingUnit},#{awardingTime},#{recognitionFileName},#{symbol},#{recognitionUnit},#{recognitionTime});
	</insert>

	<insert id="insertAddCertifed" parameterType="com.fcis.model.informationManagement.outstandingPersonDeclare.AddCertifiedMaterials">
		insert into add_certified_materials (file_path) values (#{materialsPath});
	</insert>


<!--    删除对应的劳模-->
    <update id="deleteModelWorker">
        update model_worker set isDelete = 1 where modelworker_id = #{id}
    </update>
<!--	查询是否删除成功-->
	<select id="successOrnot" parameterType="int" resultType="Integer">
		select isDelete from model_worker where modelworker_id = #{id}
	</select>


	<resultMap id="baseResultMap" type="com.fcis.model.informationManagement.outstandingPersonDeclare.ModelWorker">
		<id column="modelworker_id" property="id"/>
		<result column="modelworker_title" property="modelWorkerTitle"/>
		<result column="modelworker_treatment" property="modelWorkerTreatment"/>
		<result column="modelworker_state" property="isCertified"/>
	</resultMap>
	<resultMap id="conditionResultMap" type="com.fcis.model.informationManagement.outstandingPersonDeclare.ModelWorker" extends="baseResultMap">
		<association property="modelworker_info_id" javaType="com.fcis.model.informationManagement.outstandingPersonDeclare.Info">
			<id column="info_id" property="id"/>
			<result column="info_name" property="modelName"/>
			<result column="sex" property="sex"/>
			<result column="nationality" property="nationality"/>
			<result column="education" property="education"/>
			<result column="political_state" property="politicalState"/>
			<result column="info_provence" property="provence"/>
			<result column="job_title" property="jobTitle"/>
			<result column="phone" property="phone"/>
		</association>
	</resultMap>
<!--	按荣誉称号，待遇等查询劳模-->
	<select id="selectModelWorkerCondition" resultMap="conditionResultMap">
		select * from model_worker
		<where>
			<if test="modelWorkerTitle!=null">
				and modelworker_id=#{modelWorkerTitle}
			</if>
			<if test="modelWorkerTreatment!=null">
				and modelworker_treatment=#{modelWorkerTreatment}
			</if>
			<if test="isCertified>=0">
				and modelworker_state=#{isCertified}
			</if>
			<if test="dieTime!=null">
				and die_time=#{dieTime}
			</if>
		</where>
	</select>
<!--	查询建国来劳模总数-->
	<select id="selectTotalModelWorker" resultType="Integer">
		select modelworker_id from model_worker where modelworker_state > 0;
	</select>
<!--	查询已死亡劳模数量-->
	<select id="selectDieModelWorker" resultType="Integer">
		select modelworker_id from model_worker where modelworker_state = 4;
	</select>
<!--	查询退休劳模数-->
	<select id="selectRetireModel" resultType="Integer">
		select addinfo_id from addinfo where stateof_job=#{addinfo_id}
	</select>

<!--	查询劳模详细信息-->
	<resultMap id="detailsResultMap" type="com.fcis.model.informationManagement.outstandingPersonDeclare.ModelWorker">
		<id column="modelworker_id" property="id"/>
		<result column="modelworker_title" property="modelWorkerTitle"/>
		<result column="modelworker_treatment" property="modelWorkerTreatment"/>
		<result column="modelworker_state" property="isCertified"/>
		<association property="info" javaType="com.fcis.model.informationManagement.outstandingPersonDeclare.Info">
			<id column="modelworker_info_id" property="id"/>
			<result column="info_name" property="modelName"/>
			<result column="sex" property="sex"/>
			<result column="nationality" property="nationality"/>
			<result column="born" property="born"/>
			<result column="education" property="education"/>
			<result column="info_provence" property="provence"/>
			<result column="political_state" property="politicalState"/>
			<result column="organization" property="organization"/>
			<result column="job_title" property="jobTitle"/>
			<result column="get_modelworker_tltle_time" property="getModelWorkerTitleTime"/>
			<result column="info_awadingunit" property="awardingUnit"/>
			<result column="identity_number" property="ID"/>
			<result column="phone" property="phone"/>
		</association>
		<association property="addinfo" javaType="com.fcis.model.informationManagement.outstandingPersonDeclare.AddInfo">
			<id column="modelworker_addinfo_id" property="id"/>
			<result column="stateof_health" property="stateofHealth"/>
			<result column="stateof_family" property="stateofFamily"/>
			<result column="stateof_job" property="stateofJob"/>
			<result column="outstanding_dees" property="outstandingDeeds"/>
			<result column="ismodelworker_title" property="modelWorkerTitle"/>
		</association>
		<association property="certifiedMaterials" javaType="com.fcis.model.informationManagement.outstandingPersonDeclare.CertifiedMaterials">
			<id column="modelworker_materials_id" property="id"/>
			<result column="awarding_unit" property="awardingUnit"/>
			<result column="awarding_time" property="awardingTime"/>
			<result column="recognition_name" property="recognitionFileName"/>
			<result column="symbol" property="symbol"/>
			<result column="recoginition_unit" property="recognitionUnit"/>
			<result column="recognition_time" property="recognitionTime"/>
		</association>
	</resultMap>
	<select id="modelWorkerDetails" resultMap="detailsResultMap">
		select * from model_worker where modelworker_id=#{id}
	</select>
	<select id="findAllModelWorkers" resultMap="detailsResultMap">
		select * from model_worker
	</select>
</mapper>