<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fcis.mapper.ModelWorkerDao">
    <sql id="BaseSql">
		modelWorkerTitle,modelWorkerTreatment,info,addinfo,certifiedMaterials,isCertified
	</sql>
<!--    保存劳模
    <insert id="insertModelWorker" parameterType="com.fcis.model.informationManagement.outstandingPersonDeclare.ModelWorker">
        insert into MODEL_WORKER
        <include refid="BaseSql"></include>
        values
        (#{modelWorkerTitle},#{modelWorkerTreatment},#{},#{},#{},#{})
    </insert>
&lt;!&ndash;    删除对应的劳模&ndash;&gt;
    <update id="deleteModelWorker" parameterType="String">
        update MODEL_WORKER
        set
        modelWorkerTitle=null ,modelWorkerTreatment=null ,info=null ,addinfo=null ,certifiedMaterials=null ,isCertified=-1
        where
        info.ID = #{ID}
    </update>-->
</mapper>