<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fcis.mapper.UserMapper">

	<resultMap id="modelWorkerResultMap" type="com.fcis.model.informationManagement.outstandingPersonDeclare.ModelWorker">
		<id column="modelworker_id" property="id"/>
		<result column="modelworker_title" property="modelWorkerTitle"/>
		<result column="modelworker_treatment" property="modelWorkerTreatment"/>
		<result column="modelworker_state" property="isCertified"/>
		<association property="info" javaType="com.fcis.model.informationManagement.outstandingPersonDeclare.Info">
			<id column="info_id" property="id"/>
			<result column="info_name" property="modelName"/>
			<result column="sex" property="sex"/>
			<result column="nationality" property="nationality"/>
			<result column="phone" property="phone"/>
		</association>
	</resultMap>

	<!-- 按条件（姓名，性别，民族，待遇或称号等）查询劳模分页展示	按照了基本信息查询-->
	<select id="gerAllUser" resultMap="modelWorkerResultMap">
		select * from model_worker where modelworker_info_id= (select modelworker_info_id from info
			<where>
				<if test="username!=null">
					and info_name = like concat('%',#{username},'%')
				</if>
				<if test="sex!=null">
					and sex = #{sex}
				</if>
				<if test="nationality!=null">
					and nationality = #{nationality}
				</if>
				<if test="politicalState!=null">
					and political_state = #{politicalState}
				</if>
			</where>
		)
	</select>

    <!-- 目的：为DAO接口方法提供sql语句配置 -->
    <!-- 查询用户和密码进行登录 -->
    <select id="findByUsername" resultType="com.fcis.model.User" parameterType="String">

		select * from user where user_name = #{username}

	</select>
<!--	修改密码-->
	<update id="updatePassWord">
		update user
		set user_password = #{newPassWord}
		where user_password = #{oldPassWord}
	</update>
<!--     增加用户名和密码进行注册  -->
    <insert id="registerByUsernameAndPassword">
      	insert into user
      	        (user_name,user_password)
     	    values
     	        (#{username},#{password})
    </insert>

<!--	系统之用户管理-->
	<resultMap id="userResultMap" type="com.fcis.model.User">
		<id column="user_id" property="id"/>
		<result column="user_account" property="account"/>
		<result column="user_name" property="username"/>
		<result column="user_sex" property="user_sex"/>
		<result column="identify_card" property="identifyCard"/>
		<result column="user_phone" property="user_phone"/>
		<result column="email" property="email"/>
		<result column="user_union" property="union"/>
	</resultMap>
	<insert id="insertUserAdmin" parameterType="com.fcis.model.User">
		insert into user
		(user_account,user_password,user_name,user_sex,identify_card,user_phone,email,user_union)
		values
		(#{account},#{password},#{username},#{user_sex},#{identifyCard},#{user_phone},#{email},#{union})
	</insert>
<!--	用户查询-->
	<select id="selectUserAdmin" parameterType="String" resultMap="userResultMap">
		select * from user where user_name=#{condition}
	</select>
</mapper>